/* Mobile Stye */
@media (max-width: 767px) {
    .brand-name {
        font-size: 28px;
        color: $light-theme-text;
    }
}

/* Tablet Styel */
@media (min-width: 768px) and (max-width: 1024px) {
    .brand-name {
        font-size: 38px;
        color: $light-theme-text;
    }
}

/* Desktop Styele*/
@media (min-width: 1025px) {
    .brand-name {
        font-size: 48px;
        color: $light-theme-text;
    }
}