/* Mobile Stye */
@media (max-width: 767px) {
    .landing-section {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 10px 10px;
    }

    .landing-section1 {
        width: 100%;
    }

    .landing-section2 {
        width: 100%;
        color: $dark-text;
        padding: 30px 10px;
    }

    .landing-section2 h1 {
        font-size: 24px;
        font-weight: 600;
    }

    .resume-download {
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 6px;
        background-color: $theme-dark-text;
        color: #fff;
    }

    .email-me {
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 6px;
        color: $theme-dark-text;
        border: $theme-dark-text solid;
        margin-left: 20px;
    }

    // work experience style
    .work-body {
        background-color: rgb(245, 243, 243);
        padding: 20px 20px;
    }

    .work-title {
        font-size: 18px;
        font-weight: 500;
        color: $theme-light-text;
    }

    .work-subtitle {
        font-size: 28px;
        font-weight: 500;
        color: $theme-dark-text;
    }

    .exp-count {
        font-size: 124px;
        color: gray;
        font-weight: 900;
    }

    .exp-title {
        font-size: 24px;
        color: #000;
        font-weight: 500;
    }

    .work-card-body {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .work-card {
        width: 100%;
        padding: 10px;
    }

    // home projects style
    .home-project-body {
        background-color: #fff;
        padding: 20px 20px;
    }

    .home-project-title {
        font-size: 24px;
        font-weight: 500;
        color: $theme-light-text;
    }

    .home-project-subtitle {
        font-size: 38px;
        font-weight: 500;
        color: $theme-dark-text;
    }

    .home-project-title {
        font-size: 18px;
        color: #000;
        font-weight: 500;
    }

    .home-project-subtitle {
        font-size: 28px;
        font-weight: 500;
        color: $theme-dark-text;
    }

    .home-project-card-body {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .home-project-card {
        width: 100%;
        padding: 10px;
    }

    // home skills style
    .home-skill-body {
        background-color: rgb(245, 243, 243);
        padding: 20px 20px;
    }

    .home-skill-title {
        font-size: 24px;
        font-weight: 500;
        color: $theme-light-text;
    }

    .home-skill-subtitle {
        font-size: 38px;
        font-weight: 500;
        color: $theme-dark-text;
    }

    .home-skill-card-body {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .home-skill-card {
        width: 50%;
        padding: 10px;
    }

    .home-skill-title {
        font-size: 20px;
        font-weight: 500;
        color: #000;
    }
}

/* Tablet Styel */
@media (min-width: 768px) and (max-width: 1024px) {
    .landing-section {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        padding: 10px 80px;
    }

    .landing-section1 {
        width: 35%;
    }

    .landing-section2 {
        width: 65%;
        color: $dark-text;
        padding: 30px 10px;
    }

    .landing-section2 h1 {
        font-size: 24px;
        font-weight: 600;
    }

    .resume-download {
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 6px;
        background-color: $theme-dark-text;
        color: #fff;
    }

    .email-me {
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 6px;
        color: $theme-dark-text;
        border: $theme-dark-text solid;
        margin-left: 20px;
    }
}

/* Desktop Styele*/
@media (min-width: 1025px) {
    .landing-section {
        display: flex;
        // justify-content: space-between;
        background-color: #fff;
        padding: 10px 80px;
    }

    .landing-section1 {
        width: 40%;
    }

    .landing-section2 {
        width: 60%;
        color: $dark-text;
        padding: 30px 50px;
    }

    .landing-section2 h1 {
        font-size: 44px;
        font-weight: 500;
    }

    .resume-download {
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 6px;
        background-color: $theme-dark-text;
        color: #fff;
    }

    .resume-download:hover {
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 6px;
        background-color: $theme-light-text;
        color: #fff;
    }

    .email-me {
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 6px;
        color: $theme-dark-text;
        border: $theme-dark-text solid;
        margin-left: 20px;
    }

    .email-me:hover {
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 6px;
        color: #fff;
        background-color: $theme-light-text;
        border: $theme-dark-text solid;
        margin-left: 20px;
    }

    // work experience style
    .work-body {
        background-color: rgb(245, 243, 243);
        padding: 20px 80px;
    }

    .work-title {
        font-size: 24px;
        font-weight: 500;
        color: $theme-light-text;
    }

    .work-subtitle {
        font-size: 38px;
        font-weight: 500;
        color: $theme-dark-text;
    }

    .exp-count {
        font-size: 124px;
        color: gray;
        font-weight: 900;
    }

    .exp-title {
        font-size: 34px;
        color: #000;
        font-weight: 500;
    }

    .work-card-body {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .work-card {
        width: 33%;
        padding: 10px;
    }

    // home projects style
    .home-project-body {
        background-color: #fff;
        padding: 20px 80px;
    }

    .home-project-title {
        font-size: 24px;
        font-weight: 500;
        color: $theme-light-text;
    }

    .home-project-subtitle {
        font-size: 38px;
        font-weight: 500;
        color: $theme-dark-text;
    }

    .home-project-card-body {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .home-project-card {
        width: 33%;
        padding: 10px;
    }

    // home skills style
    .home-skill-body {
        background-color: rgb(245, 243, 243);
        padding: 20px 80px;
    }

    .home-skill-title {
        font-size: 24px;
        font-weight: 500;
        color: $theme-light-text;
    }

    .home-skill-subtitle {
        font-size: 38px;
        font-weight: 500;
        color: $theme-dark-text;
    }

    .home-skill-card-body {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .home-skill-card {
        width: 20%;
        padding: 10px;
    }

    .home-skill-title {
        font-size: 24px;
        font-weight: 500;
        color: #000;
    }
}